@media (max-width: 768px) {

    .container.header-pd {
        padding: 3px 8px;
    }

    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255 255 255) !important;
        padding: 0px;
        border-bottom: 1px solid #f0e6e6;
    }

    .brand-logo {
        width: 140px;
    }

    .central-image {
        order: -1;
        margin-bottom: 20px;
    }



    img.img-fluid.w-100 {
        width: 100% !important;
        padding: 60px 35px 7px 60px;
    }

    .section-title {
        font-size: 30px;
        text-align: center;

    }

    p.section-text {
        text-align: center;
    }

    .d-flex {
        display: flex !important;
        justify-content: center;
    }

    .get-connection {
        text-align: center;
        padding: 8% 2% 1% 2%;
    }

    .img-fluid {
        width: 325px;
    }

    .back-bg {
        padding: 10% 1% 30% 1%;
        text-align: center;

    }

    .privacy-feature {
        padding: 3%;

    }

    .heading-title {
        font-size: 18px;
    }
    .heading-paragraph {
        font-size: 14px;}
.download-button
  
{
     gap:0px; 
}

    .download-button img {
        width: 150px;
    }
    .mail-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .slider-pd{
        padding: 0px;
    }

    .your-privacy {
        text-align: center;
        padding: 0% 2% 9% 2%;
        margin-top: -41px;
    }


.lead {
    font-size: 14px;
}


.p.section-text {
    color: #fff;
    margin: 0px 0px 0px 0px;
}

    /* footer csss */

    .mail-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
